<%= link_to service_proposal_hour_extras_path,class:"btn btn-outline btn-success pull-right topHeader", type:"button" do %>
  <i class="fa fa-clipboard fa-fw"></i> Voltar
<% end %>
<h1 class="page-header topHeader">Nova Proposta de Horas</h1>

<%= render 'form' %>