<%= link_to type_equipaments_path,class:"btn btn-outline btn-success pull-right topHeader", type:"button" do %>
  <i class="fa fa-clipboard fa-fw"></i> Voltar
<% end %>   
<%= link_to @type_equipament,class:"btn btn-outline btn-success pull-right topHeader", type:"button" do %>
  <i class="fa fa-clipboard fa-fw"></i> Exibir
<% end %>
<h1  class="page-header topHeader">Editando tipo de equipamento</h1>

<%= render 'form' %>
