</br>
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Compania</strong>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Tipo </th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td><%= @type_equipament.id %></td>
            <td><%= @type_equipament.typeEquipament %></td>
          </tr>

        </tbody>
      </table>
      <%= link_to type_equipaments_path,class:"btn btn-default btn-sm ajusteButton", type:"button" do %>
      <i class="fa fa-arrow-left"></i> Voltar
      <% end %>
      <%= link_to edit_type_equipament_path(@type_equipament),class:"btn btn-default btn-sm ajusteButton", type:"button" do %>
      <i class="fa fa-edit"></i> Editar
      <% end %>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>