<%= link_to periods_path,class:"btn btn-outline btn-success pull-right topHeader", type:"button" do %>
  <i class="fa fa-clipboard fa-fw"></i> Voltar
<% end %>

<h1 class="page-header topHeader">Novo Periodo</h1>

<%= render 'form' %>

