<%= link_to service_proposals_path,class:"btn btn-outline btn-success pull-right topHeader", type:"button" do %>
  <i class="fa fa-clipboard fa-fw"></i> Voltar
<% end %>   
<%= link_to "/services/#{@proposal.proposal_roles[0].role.service_id}/proposals/#{@proposal.id}/",class:"btn btn-outline btn-success pull-right topHeader", type:"button" do %>
  <i class="fa fa-clipboard fa-fw"></i> Exibir
<% end %>
<h1  class="page-header topHeader">Editando proposta</h1>

<%= render 'form' %>
