/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require bootstrap_sb_admin_base_v2
 */

.font-30px{
	font-size: 30px;
}
.font-20px{
	font-size: 20px;
}
.font-12px{
	font-size: 12px;
}
.panel-body .paddin-botton-0{
	padding: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
}
.panel-body.paddin-left-right{
	padding-left: 2px;
	padding-right: 2px;
}
td.showFonteSize.padding-personalit{
	padding: 6px;
}
div.panel.panel-default.margin-5{
	margin-bottom: 5px;
}
.margin-0{
	margin-bottom: 0px;
}
.panel-body.padding-bottom4{
	padding-bottom: 4px;
	padding-top: 4px;
}
.position-relative{
	position: relative;	
}
.botton-56{
	bottom: 56px;
}
a{
	color: #337ab7;
	text-decoration: none;
}
a:visited{
		color: #337ab7;
	text-decoration: none;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
ul.proposal-roda-pe{
	font-size: 11px;
	font-family: arial;
	margin-top: 4px;
}
div#page-wrapper.ajusteAreaTotal {
	padding-left: 5px;
		
}
div.cal-lg-12 .peddingsIndex{
	padding-left: 10px;
	padding-left: 10px;
}
@media screen and (max-width: 768px) {
	div#page-wrapper.ajusteAreaTotal {
		margin: 0 0 0 0px;
	}
	.sidebar.ajusteWidthADireita {
		width: 100%;
	}
}
.col-lg-12.zeroPaddingLR{
	padding-left: 0;
	padding-right: 0;
}
.modal-content{
	width: 880px;
}
.modal-dialog{
	margin-left: 273.5px;
}
@media (min-width: 768px){
	.modal-dialog {
	  margin-left: 271px;
	}
}
.paddingBottonProposalEquipament{
	padding-bottom: 3px;
  padding-top: 2px;
}
.totaisStyle{
	position: relative;
    bottom: 10px;
    margin-bottom: 0;
}