<p id="notice"><%= notice %></p>

<p>
  <strong>Name Sub-categoria:</strong>
  <%= @sub_type.name_sub_type %>
</p>

<%= link_to 'Edit', edit_sub_type_path(@sub_type) %> |
<%= link_to 'Back', sub_types_path %>
